.live-now{
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
}

.live-now-left{
    display: flex;
    background-color: red;
}

.live-now-left-info{
    background-color: blue;
    display: flex;    
    flex-direction: column;
    justify-content: space-between; 
    margin-left: 51px;            
}

.live-now-left-info h3{
    background-color: red;
    font-size: 20px;
}