.featured-tv{
    margin-top: 45px;
}

.container-movie-box{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.movie-box-films{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    margin-top: 32px;
}

.container-movie-box h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.featured-tv-info-box-movies{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}


.featured-tv-info-box-movies img{
    width: 370px;
    object-fit: cover;
    object-position: top;
}

.featured-tv-info-box{
    margin-top: 32px;
}

.Adventures-films{
    margin-top: 45px;
    margin-bottom: 90px;
}
