.container_filmInfo{
    display: flex;
    height: 700px;
}

.background_filmInfo {
    position: absolute;
    z-index: -15;
    left: 0;
    height: 700px;
    object-fit: cover;
    width: 100%;
}

.shadow_filmInfo{
    position: absolute;
    z-index: -10;
    left: 0;
    height: 700px;
    object-fit: cover;
    background-color: black;
    opacity: 0.6;
    width: 100%;
}

.container_img_filmInfo{
    width: 35%;
    padding-top: 40px;
}

.img_filmInfo{
    border-radius: 10px;
    width: 458px;
    height: 604px;
}

.container_info_filmInfo{
    width: 60%;
    padding-top: 40px;
}

.info_filmInfo{
    width: 528px;
}

.btns{
    display: flex;
    align-items: center;
}

.btns a:nth-child(1){
    background: linear-gradient(77deg, rgba(31,142,190,1) 0%, rgba(68,4,149,1) 39%, rgba(68,4,149,1) 68%, rgba(177,2,205,1) 96%);
    margin-right: 50px;
}

.btns a:nth-child(2){
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
}

.info_filmInfo_heart{
    width: 40px;
    height: 35px;
    margin-left: 30px;
}

.info_filmInfo_title{
    font-weight: 700;
    font-size:2.5rem ;
}

.info_filmInfo_tags{
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.info_filmInfo_tag{
    font-size: 0.75rem;
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
    padding: 7px;
    border-radius: 8px;
    cursor: default;
}

.info_filmInfo_text{
    font-size: 1rem;
    font-weight: 600;
}


@media (max-width: 1580px){

    .container_img_filmInfo{
        margin-right: 5%;
    }
}

@media (max-width: 1350px){

    .container_img_filmInfo{
        margin-right: 10%;
    }
}

@media (max-width: 1215px){

    .container_img_filmInfo{
        margin-right: 15%;
    }
}
@media (max-width: 1100px){

    .container_filmInfo{
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .img_filmInfo{
        width: 200px;
        height: 200px;
    }

    .info_filmInfo_tags{
        width: auto;
    }

    .btns{
        justify-content: space-around;
    }

    .container_img_filmInfo{
        margin: 0;
    }

    .info_filmInfo{
        width: 100%;
    }
}

@media (max-width:1000px) {
    .background_filmInfo{
        height: 750px;
    }

    .shadow_filmInfo{
        height: 750px;
    }

    .list_film_watching{
        margin-top: 50px!important;
    }

    .container_info_filmInfo{
        width: 70%;
    }
}

@media (max-width:510px) {
    .container_info_filmInfo{
        width: 80%;
    }

    .container_img_filmInfo{
        width:80%
    }
}