footer {
    color: #fff;
    padding: 30px 0;
  }
 
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
  }


  .footer-section img{
    transform: scale(3);
  }
 
  .footer-section {
    flex-basis: 25%;
    text-align: center;
  }

  .footer-section.margin{
    padding: 0px 0px 0px 40px;
    text-align: left;
  }
 
  .footer-section h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
 
  .footer-section p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 300ms ease;
  }
 
  .footer-separator {
    width: 6px;
    height: 200px;
    border-radius: 2px;
    background: rgb(52,48,69);
background: linear-gradient(77deg, rgba(52,48,69,1) 0%, rgba(192,183,232,1) 35%, rgba(139,128,186,0.9108893557422969) 67%, rgba(122,120,120,1) 100%);
    background-size: 6px 100%;
    margin: 0 20px;
  }

  .logo{
    justify-content: space-between;
    display: flex;
    font-size: 25px;
    padding: 10px 40px 50px 0px;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .button-footer{
    margin-bottom: 10px !important;
    padding: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    cursor: pointer;
    transition: transforme all 400ms ease;
  }

  .footer-separators{
    background: rgb(52,48,69);
    background: linear-gradient(77deg, rgba(52,48,69,1) 0%, rgba(192,183,224,1) 35%, rgba(129,118,175,1) 68%, rgba(52,48,69,1) 100%);
    max-width: 100%;
    height: 1px;
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .footer-separators-text{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    letter-spacing: 3px;
  }

  /* button */

  .button-footer:hover{
    transform: scale(1.1);
    background: rgb(31,142,190);
    background: linear-gradient(77deg, rgba(31,142,190,1) 0%, rgba(68,4,149,1) 39%, rgba(68,4,149,1) 68%, rgba(177,2,205,1) 96%);
  }

  .footer-section p:hover{
    color: rgb(31,142,190);
    color: linear-gradient(77deg, rgba(31,142,190,1) 0%, rgba(68,4,149,1) 39%, rgba(68,4,149,1) 68%, rgba(177,2,205,1) 96%);
  }

  .logo:hover{
    transform: scale(1.1);
  }

  