.global{
    margin: 0 90px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url("../src/assets/Fond.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    margin: 0;
}

@media (max-width: 468px) {
   
    .global{
        margin:0 0;    }
  }