.global{
    margin: 0 90px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url("./assets/test.png");
    /* background: rgb(26,41,128);
    background: linear-gradient(180deg, rgba(26,41,128,1) 0%, rgba(0,0,0,1) 51%, rgba(33,63,91,1) 100%); */
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    margin: 0;
}

@media (max-width: 730px) {
    .global{
        margin: 0;
    }
}