.container-navbar>span{
    display: none;
}

input{
    display: none;
}

label{
    display: none;
}

.container-navbar>img{
    width: 55px;
    margin-right: 30px;
}

li{
    list-style: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.125rem;
}

ul{
    display: flex;
    align-items: center;
}

.navbar-sections{
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.navbar-link{
    color: #808080;
}

.container-navbar{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    height: 151px;
    background-image: linear-gradient(180deg, #2A2A2D 57.81%, rgba(17, 16, 29, 0) 93.23%);
    backdrop-filter: blur(10px);

   
}

.navbar-global{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-general{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.general-item{
    color: white;
}

.active{
    color : white;
    border-bottom: 2px solid white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
    color: white;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 5px;
    width: 52px;
    height: 52px;
    position: relative; 
    font-size: 1.125rem;
    text-align: center;
    box-shadow: 0px 20px 100px -10px #42475B1A;
    border: 0px;
  }
  
  select option{
    background-color: black;
    color: white;
    width: 200px;
  }

  select option:checked {
    background-color: #cccccc; /* Changez la couleur de fond selon vos préférences */
    color: #ffffff; /* Changez la couleur du texte selon vos préférences */
    font-weight: bold; /* Ajoutez du gras pour améliorer la visibilité */
    border: none; /* Supprimez la bordure pour un meilleur aspect */
  }

  select option:hover {
    background-color: #fff;
    color: #000;
    outline: none;
  }
  
  @media (max-width: 1024px) {
   
    label{
        display: block;
        margin-left: 80%;
        color: white;
    }

    .navbar-global{
        width: 100%;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 120px;
        left: 0;
        background: black;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        z-index: -10;
        overflow: hidden;
    }

    .navbar-sections{
        flex-direction: column;
        width: 100%;
    }

    .container-navbar{
        align-items: center;
    }

    .navbar-general{
        width: 160px;
        margin: 0 auto;    
    }

    .menu-trigger-input:checked{
        background-color: red;
    }

    .menu-trigger-input:checked~.navbar-global{
      opacity: 1;
      height: 500px;
      position: absolute;
      top: 120px;
      left: 0;
      background: black;
      justify-content: space-around;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-bottom: 20px;
    }

    header .wrapper{
        display: block;
    }

    .menu-trigger>i{
        font-size: 36px;
    }

    .navbar-link{
        line-height: 50px;
    }


  }

  @media (max-width: 468px) {

    .container-navbar{
        padding-left: 30px;
    }


  }
  
  
  