li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

ul{
    display: flex;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}